<main>
    <div class="main-container"> 
        <h1>Profile</h1>
        <p>Name: {{user.first_name}} {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Age: {{user.age}}</p>
        <p>Role: {{user.role}}</p>
        <a href="/products"><button>Continue Shopping</button></a>
        <a href="/api/sessions/logout"><button>Sign Out</button></a>
    </div>
</main>